<div class="row" style="text-align: center;">
  <div class ="col-md-12 ">
    <div class="jumbotron">
      <h1>Welcome New Employee</h1>
      <br>
      <p><%= link_to "Get Started" , employees_path , class:"btn btn-primary btn-lg"%></p>
    </div>
  </div>
</div>